.page
    .content
        code
            margin 0 0.125rem
blockquote
    font-size 1rem
.theme-default-content
    a[href^='#voice']
        color #4284f3
        &:hover
            text-decoration none
.theme-container
    .sidebar
        & > .sidebar-links
            & > li
                &:not(:first-child)
                    margin 0
                & > a.sidebar-link
                    font-size 1em
                    font-weight 400
    .sidebar-sub-headers
        a.sidebar-link
            font-size 0.95em