// Theme's Styles
@import("/Users/mac/Documents/github-page-press/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("/Users/mac/Documents/github-page-press/docs/.vuepress/styles/index.styl")